pkgbase = musescore-git
	pkgdesc = Create, play and print beautiful sheet music (unreleased git 3.7 branch)
	pkgver = 3.7.0.git.1659694499.8815d554248900ca3604172d7b2664b4d1962b4f
	pkgrel = 1
	url = https://github.com/musescore/MuseScore
	install = musescore.install
	arch = x86_64
	groups = pro-audio
	license = GPL
	makedepends = cmake
	makedepends = doxygen
	makedepends = git
	makedepends = lame
	makedepends = qt5-script
	makedepends = texlive-core
	depends = alsa-lib
	depends = freetype2
	depends = libpulse
	depends = libsndfile
	depends = libvorbisfile.so
	depends = portaudio
	depends = portmidi
	depends = libportaudio.so
	depends = libportmidi.so
	depends = qt5-base
	depends = qt5-declarative
	depends = qt5-graphicaleffects
	depends = qt5-quickcontrols
	depends = qt5-quickcontrols2
	depends = qt5-svg
	depends = qt5-tools
	depends = qt5-webengine
	depends = qt5-xmlpatterns
	depends = zlib
	optdepends = lame: MP3 export
	provides = musescore
	conflicts = musescore
	conflicts = musescore-git
	source = git+https://github.com/Jojo-Schmitz/MuseScore#branch=master-to-3.x
	md5sums = SKIP

pkgname = musescore-git
